<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Ajouter subcategorie</h1>
    </div>
    <form class="user" [formGroup]="addForm" >
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" formControlName="nom" id="nom" placeholder="Nom">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" formControlName="description"  id="description" placeholder="Description">
            </div>
        </div>
        <div class="form-group row">
           
            
                <select class="form-select form-control-user" formControlName="category"  >
                    <option disabled>Selectionner categorie</option>
                    <option *ngFor="let cat of listcategorie" [value]="cat._id">{{cat.nom}}</option>
                   </select>
            
        </div>
        <button class="btn btn-primary btn-user btn-block" (click)="onSubmit()">
           Ajouter subcategorie
        </button>
     
    </form>
   
</div>

