<div class="container-fluid">
    <!-- Page Heading -->
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste produit</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
                  <label
                    >Show
                    <select
                      name="dataTable_length"
                      aria-controls="dataTable"
                      class="custom-select custom-select-sm form-control form-control-sm"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    entries</label
                  >
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                  <label
                    >Search:<input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder=""
                      [(ngModel)]="search_nom"
                      aria-controls="dataTable"
                  /></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-bordered dataTable"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="dataTable_info"
                  style="width: 100%"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >
                        Nom
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Position: activate to sort column ascending"
                        style="width: 60px"
                      >
                        Prenom
                      </th>
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >Adresse</th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Office: activate to sort column ascending"
                        style="width: 5px"
                      >
                        Email
                      </th>
                      <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Office: activate to sort column ascending"
                      style="width: 5px"
                    >
                      Actions
                    </th>
                    </tr>
                  </thead>
  
                  
                  <tbody>
                    <tr
                      *ngFor="
                        let cl of client
                          | paginate: { itemsPerPage:4, currentPage: p }
                          | recherche: search_nom
                      "
                    >
                      <td>{{cl.nom }}</td>
                      <td>{{ cl.prenom}}</td>
                      <td>{{ cl.adresse}}</td>
                      <td>{{ cl.email }}</td>
                    
                      <td>
                          <button class="btn btn-warning btn-circle " >
                              <i class="fas fa-exclamation-triangle"></i>   </button>
                              <button class="btn btn-danger btn-circle " (click)="deleteclient(cl._id)">
                                <i class="fas fa-trash"></i>
                            </button>
                           
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
