<div class="container-fluid">
    <!-- Page Heading -->
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste produit</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
                  <label
                    >Show
                    <select
                      name="dataTable_length"
                      aria-controls="dataTable"
                      class="custom-select custom-select-sm form-control form-control-sm"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    entries</label
                  >
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                  <label
                    >Search:<input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder=""
                      [(ngModel)]="search_nom"
                      aria-controls="dataTable"
                  /></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-bordered dataTable"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="dataTable_info"
                  style="width: 100%"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >
                        Nom
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Position: activate to sort column ascending"
                        style="width: 60px"
                      >
                        Description
                      </th>
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >Categorie</th>
              
                  <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="dataTable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Position: activate to sort column ascending"
                  style="width: 80px"
                >
                 Actions
                </th>
                    </tr>
                  </thead>
  
                  
                  <tbody>
                    <tr
                      *ngFor="
                        let subcat of listsubcat
                          | paginate: { itemsPerPage:2, currentPage: p }
                          | recherche: search_nom
                      "
                    >
                      <td>{{ subcat.nom }}</td>
                      <td>{{ subcat.description }}</td>
                      <td>{{ subcat.category.nom }}</td>
                      <td>
                          <button class="btn btn-warning btn-circle " (click)="open(content,subcat)">
                              <i class="fas fa-exclamation-triangle"></i>
                              
                          </button>
                          &nbsp; &nbsp;
                           <button class="btn btn-danger btn-circle " (click)="deletesubcat(subcat._id)">
                              <i class="fas fa-trash"></i>
                          </button>
                         
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifier Subcategorie</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" >
          <div class="form-group" >
            <label for="nom">Nom Subcategorie</label>
            <div class="input-group">
              <input id="nom" class="form-control" formControlName="nom">
            </div>
          </div>
  
          <div class="form-group" >
            <label for="description">Description</label>
            <div class="input-group">
              <input id="description" class="form-control" formControlName="description" >
            </div>
          </div>
  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); upSubcat()">Save</button>
      </div>
    </ng-template>

    
    <hr>
    
    <pre>{{ closeResult }}</pre>
