<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Ajouter produit</h1>
    </div>
    <form class="user" [formGroup]="AddProductForm" >
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" formControlName="nom" id="nom" placeholder="Nom">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" formControlName="description"  id="description" placeholder="Description">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" formControlName="prix"  id="prix" placeholder="Prix">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user"  formControlName="quantite"  id="quantite" placeholder="Quantite">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" formControlName="reference"  id="reference" placeholder="Reference">
            </div>
         
        </div>
        <div class="form-group">
            <select class="form-select form-control-user" formControlName="color">
            <option value="noir">noir</option>
            <option value="violet">violet</option>
            <option value="bleu">bleu</option>
            <option value="jaune">jaune</option>
            <option value="rouge">rouge</option>
            <option value="vert">vert</option></select>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <select class="form-select form-control-user" formControlName="provider">
                    <option disabled>Selectionner fournisseur</option>
                <option *ngFor="let provider of listprovider" [value]="provider._id">{{provider.nom}}</option>
                    
                   </select>
            </div>
            <div class="col-sm-6">
                <select class="form-select form-control-user" formControlName="subcat"  >
                    <option disabled>Selectionner subcategrie</option>
                    <option *ngFor="let sub of listsubcat" [value]="sub._id">{{sub.nom}}</option>
                   </select>
            </div>
        </div>
        <div class="col-sm-6">
            <input type="file" (change)="onFileChange($event)" name="pictures" multiple class="form-control-user" placeholder="file">

        </div>
        <button class="btn btn-primary btn-user btn-block" (click)="onSubmit()">
           Ajouter produit
        </button>
    
    </form>
   
</div>
