<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" [formGroup]="regForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder=" Nom" formControlName="nom">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Prenom" formControlName="prenom">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleInputAdresse" placeholder=" Addresse"formControlName="adresse">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email " formControlName="email">
                            </div>
                            <div class="form-group ">
                               
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" formControlName="password">
                               
                            </div>
                            <div class="col-sm-6">
                                <input type="file" (change)="handleFileInput($event)" name="file" class="form-control-user" placeholder="image">

                            </div>
                            <button class="btn btn-primary btn-user btn-block" (click)=" onSubmit()">
                                Register Account
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <button class="small" routerLink="/">Already have an account? Login!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
